[
    {
        "_id": "ckPersonalizationCluster",

        "description" : "Simple 3 node + arbiter replica-set cluster",

        "members" : [
            { 
                "server": { "$ref" : "servers", "$id": "mongo-west" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckPersonalizationServer1" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckPersonalizationServer2" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckPersonalizationServer3" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckPersonalizationArbiter" },
                "arbiterOnly" : true
            }
        ]
    }
]
