[
    {
        "_id": "ckCluster",

        "description" : "Simple 3 node + arbiter replica-set cluster",

        "members" : [
            { 
                "server": { "$ref" : "servers", "$id": "ckm1w" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckm1e" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckm2e" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckm3e" }
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckmae" },
                "arbiterOnly" : true
            },
            { 
                "server": { "$ref" : "servers", "$id": "ckm1t" }
            }
        ]
    }
]
