[ 
    {
        "_id": "ckm1e",
        "description" : "Personalization ReplSet - Node 1 - EAST",
        "address": "ec2-174-129-147-195.compute-1.amazonaws.com:1080",
         "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ckm1e",
	    "smallfiles":true,
            "directoryperdb": true,
	    "quiet":true,
            "noprealloc":true
        }
    },
    {
        "_id": "ckm2e",
        "description" : "Personalization ReplSet - Node 2 - EAST",
        "address": "ec2-54-242-25-133.compute-1.amazonaws.com:1080",
        "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ckm2e",
	    "smallfiles":true,
            "directoryperdb": true,
	    "quiet":true,
            "noprealloc":true
        }
    },
    {
        "_id": "ckm3e",
        "description" : "Personalization ReplSet - Node 3 - EAST",
        "address": "ec2-184-73-62-137.compute-1.amazonaws.com:1080",
        "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ckm3e",
	    "smallfiles":true,
            "directoryperdb": true,
	    "quiet":true,
            "noprealloc":true
        }
    },
    {
        "_id": "ckmae",
        "description" : "Personalization ReplSet - Arbiter",
        "address": "ec2-184-73-62-137.compute-1.amazonaws.com:3080",
        "cmdOptions":{
            "port": 3080,
            "dbpath": "/mnt/mongodb-data/ckmae",
            "directoryperdb": true,
            "nojournal": true,
	    "quiet":true,
            "noprealloc":true
        }
    },
  {
        "_id": "ckm1w",
        "description" : "Personalization ReplSet - Node 1 - WEST",
        "address": "ec2-54-245-93-98.us-west-2.compute.amazonaws.com:1080",
        "cmdOptions": {
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ckm1w",
            "smallfiles":true,
            "directoryperdb": true,
	    "quiet":true,
            "noprealloc":true
        }
    }
]