[
    {
        "_id": "mongo-west",

        "description" : "Single mongod located in the west",
        "address": "ip-10-249-19-98.us-west-2.compute.internal:1080",
        "cmdOptions": {
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/mongo-west",
            	"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "exceptionsDB-poc",

        "description" : "Single mongod - WebApp Exceptions dB - mirco instance",
        "address": "ec2-23-23-19-184.compute-1.amazonaws.com:1080",
        "cmdOptions": {
            "port": 1080,
            "dbpath": "~/mongodb-data/exceptionsDB-poc",
		"smallfiles":true,
            "directoryperdb": true
        }
    },

    {
        "_id": "ckPersonalizationServer1",
        "description" : "Personalization ReplSet - Node 1",
        "address": "ip-10-46-105-209.ec2.internal:1080",
         "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-server1",
		"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "ckPersonalizationServer2",
        "description" : "Personalization ReplSet - Node 2",
        "address": "ip-10-190-26-22.ec2.internal:1080",
        "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-server2",
		"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "ckPersonalizationServer3",
        "description" : "Personalization ReplSet - Node 1",
        "address": "ip-10-70-71-229.ec2.internal:1080",
        "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-server3",
		"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "ckPersonalizationArbiter",
        "description" : "Personalization ReplSet - Arbiter",
        "address": "ip-10-70-71-229.ec2.internal:3080",
        "cmdOptions":{
            "port": 3080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-arbiter",
            "directoryperdb": true,
            "nojournal": true
        }
    }
]
