[
    {
        "_id": "exceptionsDB-poc",

        "description" : "Single mongod - WebApp Exceptions dB - mirco instance",
        "address": "ec2-23-23-19-184.compute-1.amazonaws.com:1080",
        "cmdOptions": {
            "port": 1080,
            "dbpath": "~/mongodb-data/exceptionsDB-poc",
		"smallfiles":true,
            "directoryperdb": true
        }
    },

    {
        "_id": "ckPersonalizationServer1",
        "description" : "Personalization ReplSet - Node 1",
        "address": "ec2-107-21-219-245.compute-1.amazonaws.com:1080",
         "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-server1",
		"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "ckPersonalizationServer2",
        "description" : "Personalization ReplSet - Node 2",
        "address": "ec2-107-21-208-73.compute-1.amazonaws.com:1080",
        "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-server2",
		"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "ckPersonalizationServer3",
        "description" : "Personalization ReplSet - Node 1",
        "address": "ec2-107-21-222-186.compute-1.amazonaws.com:1080",
        "cmdOptions":{
            "port": 1080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-server3",
		"smallfiles":true,
            "directoryperdb": true
        }
    },
    {
        "_id": "ckPersonalizationArbiter",
        "description" : "Personalization ReplSet - Arbiter",
        "address": "ec2-107-21-222-186.compute-1.amazonaws.com:3080",
        "cmdOptions":{
            "port": 3080,
            "dbpath": "/mnt/mongodb-data/ck-cluster-arbiter",
            "directoryperdb": true,
            "nojournal": true
        }
    }
]
